<div class="row" >
  <div *ngFor="let car of cars" class="card" style="width: 20rem;">
    <img src="{{imagePath}}/{{car.carImagePath}}" class="card-img-top" alt="{{car.carName}}">
    <div  class="card-body">
      <h5 class="card-title">{{car.carName}}</h5>
    </div >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Kodu: {{car.id}}</li>
      <li class="list-group-item">Marka: {{car.brandName}}</li>
      <li class="list-group-item">Renk: {{car.colorName}} </li>
      <li class="list-group-item">Model Yılı: {{car.modelYear}} </li>
      <li class="list-group-item">Günlük Kira Ücreti: {{car.dailyPrice}} TL</li>
    </ul>
    <div class="card-body">
      <div  class="row">
        <button routerLink="/cars/car-detail/{{car.id}}" type="button" class="btn btn-light" style="align-self: flex-start;">Detaylar</button>
      </div>                            
    </div>
  </div>
</div>
