<ul class="list-group">
   <li  (click)="setCurrentMenu(1)" [class]="getCurrentMenuClass(1)" routerLink = "/brands">Markalar</li> 
   <li  (click)="setCurrentMenu(2)" [class]="getCurrentMenuClass(2)" routerLink = "/colors">Renkler</li> 
   <li  (click)="setCurrentMenu(3)" [class]="getCurrentMenuClass(3)" routerLink = "/customers">Müşteriler</li> 
   <li  (click)="setCurrentMenu(4)" [class]="getCurrentMenuClass(4)" routerLink = "/cars">Arabalar</li> 
   <li  (click)="setCurrentMenu(5)" [class]="getCurrentMenuClass(5)" routerLink = "/rentals">Kiralamalar</li>    
</ul>
